body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s ease;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
  color: #555;
}

input {
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 20px;
  font-size: 1.1em;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  font-size: 1.3em;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

.error {
  color: red;
  font-size: 1.1em;
  margin-top: 15px;
}

.toggle-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toggle-button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(39, 39, 39);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button i {
  margin-right: 8px;
}

.toggle-button:hover {
  background-color: #555;
}
